@charset "UTF-8";
body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/*Inicio Formatacao do cabecalho*/

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
}

nav li{
    background-color: #dddddd;
    color: black;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

nav li:hover{
    background-color: #666666;
}


ul#menu {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.5rem;
}

header#cabecalho a{
    text-decoration: none;
}

a:visited{
    color: black;
}
/*Fim formatacao do cabecalho*/

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.about-content {
    margin-bottom: 2rem;
}

section h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 0.5rem;
}

div.about-content {
    text-align: justify;
}

img.favs {
    width: 25px;
    height: 25px;
    margin-bottom: -3px;
}

/*Rodape*/
footer#rodape {
    text-align: center;
    padding: 1rem;
}

.contact-icons {
    margin-bottom: 1rem;
}

.contact-icons a {
    display: inline-block;
    margin: 0 10px;
}

.contact-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.contact-icons a:hover img {
    transform: scale(1.1);
}

/* Destacar o nome da empresa */
.destaque {
    background-color: rgba(238, 14, 25, 0.815);
    padding: 5px 10px;
    color: white;
    display: inline-block; /* Isso garante que a div se ajuste ao tamanho do conteúdo */
}

/* Formatacao do botao de retornar ao Topo */
.btnTopStyle {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
}

.btnTopStyle:hover {
    background-color: #333; /* Cor um pouco mais escura ao passar o mouse */
}


